.title {
  margin:20px;
}

.upload-form {
  margin:20px;
}

.upload-form div {
  float:left;
}

.inputfile-base+label {
  max-width:80%;
  font-size:1.25rem;
  /* 20px */
  font-weight:700;
  text-overflow:ellipsis;
  white-space:nowrap;
  cursor:pointer;
  display:inline-block;
  overflow:hidden;
  padding:0.625rem 1.25rem;
  /* 10px 20px */
}

.inputfile-base+label svg {
  width:1em;
  height:1em;
  vertical-align:middle;
  fill:currentColor;
  margin-top:-0.25em;
  /* 4px */
  margin-right:0.25em;
  /* 4px */
}

.choose-file+label {
  color:#f1e5e6;
  background-color:#d3394c;
}

.choose-file+label:hover {
  background-color:#722040;
}

.upload-file+label {
  color:#f1e5e6;
  background-color:#4285f4;
}

.upload-file+label:hover {
  background-color:#003366;
}
