.title {
  margin:20px;
}

.upload-form {
  margin:20px;
  overflow:auto;
}

.upload-form>div {
  float:left;
}

.file-info {
  margin:20px;
}

.file-info-item {
  font-weight:bold;
  overflow:auto;
}

.template {
  display:none;
}

.inputfile-base+label {
  max-width:80%;
  font-size:1.25rem;
  /* 20px */
  font-weight:700;
  text-overflow:ellipsis;
  white-space:nowrap;
  cursor:pointer;
  display:inline-block;
  overflow:hidden;
  padding:0.625rem 1.25rem;
  /* 10px 20px */
}

.inputfile-base+label svg {
  width:1em;
  height:1em;
  vertical-align:middle;
  fill:currentColor;
  margin-top:-0.25em;
  /* 4px */
  margin-right:0.25em;
  /* 4px */
}

.choose-file+label {
  color:#f1e5e6;
  background-color:#d3394c;
}

.choose-file+label:hover {
  background-color:#722040;
}

.upload-file+label {
  color:#f1e5e6;
  background-color:#4285f4;
}

.upload-file+label:hover {
  background-color:#003366;
}

.progress {
  overflow:hidden;
  height:20px;
  margin-bottom:20px;
  background-color:#f5f5f5;
  border-radius:4px;
  -webkit-box-shadow:inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow:inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

.progress-bar {
  float:left;
  width:0%;
  height:100%;
  font-size:12px;
  line-height:20px;
  color:#ffffff;
  text-align:center;
  background-color:#337ab7;
  -webkit-box-shadow:inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  box-shadow:inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  -webkit-transition:width 0.6s ease;
  -o-transition:width 0.6s ease;
  transition:width 0.6s ease;
}
